{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Welcome to the Restaurant & Menu Management System</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Restaurants</h2>
                        <p class="card-text">Manage your restaurant locations and details.</p>
                        <a href="{% url 'restaurants' %}" class="btn btn-dark">View Restaurants</a>
                        <a href="{% url 'restaurants-create' %}" class="btn btn-success"  style="background-color: darkcyan">Add New Restaurant</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Menu Items</h2>
                        <p class="card-text">Manage your menu items associated with the restaurants.</p>
                        <a href="{% url 'menus' %}" class="btn btn-dark";>View Menu Items</a>
                        <a href="{% url 'menus-create' %}" class="btn btn-success"  style="background-color: darkcyan">Add New Menu Item</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
